body {
  background-color: #f5f6f7;
  color: #0b0b0e;
  font-family: 'Poppins', sans-serif;
  margin-top: 10px;
}

main {
  display: grid;
  place-items: center;
}

h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 3rem;
}

#canvas-holder-1 {
  width: 400px;
  height: 400px;
}

#canvas-holder-2 {
  width: 400px;
  height: 400px;
}

#canvas-holder-3 {
  width: 400px;
  height: 400px;
}

#canvas-holder-4 {
  width: 400px;
  height: 400px;
}

.hidden {
  display: none;
}

.spinner {
  animation: spin 1s linear infinite;
  display: inline-block;
}


@keyframes spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}